@import 'global.css';

.categories-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 170px);
  gap: 5px;
  position: relative;
  justify-content: space-between;
}

.category-container {
  width: 100%;
}

.category-title {
  color: var(--purple-dark-2);
  font-weight: var(--font-weight-text2);
  font-size: 16px;
  margin-bottom: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-title::before {
  content: '••••';
  color: transparent;
  /* TODO: cambiar color por ID de la categoría */
  background-color: var(--idColor);
  border-radius: 8px;
  margin-right: 8px;
  width: 8px;
  height: 8px;
}
@media (min-width: 320px) {
  .categories-list {
    grid-template-columns: repeat(auto-fill, 130px);
  }
}